body{
    background-color: gray;
    font-family: serif;
}
p{
    color: #f5f5f5;
    font-weight: 350px;
    font-size: 15px;
    text-align: center;

}
.value{
    color: #f5f5f5;
    font-weight: 350px;
    font-size: 15px;
    text-align: center;
}
.value1{
    color: #f5f5f5;
    font-weight: 350px;
    font-size: 15px;
    text-align: center;
}
.value2{
    color: #f5f5f5;
    font-weight: 350px;
    font-size: 15px;
    text-align: center;
}
.answer{
    margin-top: 50px;
}
